@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

:root{
  --primary: #1e293b;
  --secondary: #334155;
  --accent: #3b82f6;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

